<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    Perros app es la red social para perros mas famosa del mundo, registrate y has amigos perrunos.
  </p>
  {{#link-to 'contact' class="button"}}
    Contactanos!
  {{/link-to}}
</div>

{{outlet}}